[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=0.12.3"
requests-oauthlib = "==0.8.0"
python-dotenv = "==0.7.1"
pyopenssl = "==17.5.0"

[dev-packages]

[requires]
python_version = "3.11"
